@using System.Security.Claims
@model IEnumerable<RentalWebPortal.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Properties</h1>


<p>
    <a asp-action="Create">List New Property</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PremiumListing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row" >
    <div class="col-md-12" align="center">

        <div id="mdb-lightbox-ui">

            <figure class="col-md-8">
                @foreach (var property in Model)
                {
                    <div class="card text-center">
                        <div class="card card-header"><b>@property.Title <span class="badge badge-secondary">New Listing</span></b></div>
                        @if (property.PremiumListing)
                        {
                            <span class="badge badge-warning">Premium Listing</span>

                        }
                        <div class="card-body">@property.AddressLine1</div>
                        
                 

                        <p class="card-text">bla bla bla stuff about property </p>
                        
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" alt="Card image cap">
                        

                        <br />
                        <div align="center">
                            <a asp-action="Details" asp-route-id="@property.ID" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Get some more info about property">View Listing</a>
                      
                        @if (User.Identity.IsAuthenticated)
                        {
                          
                           <a asp-action="Details" asp-route-id="@property.ID" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Get some more info about property">Note Interest</a>

                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login to note interest</a>
                        }
                        </div>
                    </div>

                <br />
                }
            </figure>
        </div>
    </div>
</div>

